/* Este archivo se utiliza para eliminar los estilos por defecto del navegador y asegurar una base consistente */

/* Reset de estilos */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: $fuente-principal;
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
