/*-- Variables Globales --*/

//Colores
$color-primario: #005198;
$color-titulo: #221e1f;
$color-contenedores: #adadaa;
$color-texto: #263238;
$color-texto-boton: #ffff;
$color-boton: #2755a2;
$color-error: #cc2128;

//Fuentes
$fuente-principal: "Arial, sans-serif";
$tamanyo-normal: 1.2rem;
$tamanyo-pequenya: 1rem;
$tamanyo-larga: 1.4rem;

//Espaciado
$espacio-pequenyo: 8px;
$espacio-mediano: 16px;
$espacio-largo: 24px;

//Bordes
$border-radius: 4px;
