/*-- Variables Globales --*/

//Colores
$color-primario: #005198;
$color-fondo: #ffff;
$color-contenedores: #f8f9f9;
$color-texto: #0000;
$color-texto-boton: #ffff;
$color-boton: #0000;
$color-error: #e3001b;

//Fuentes
$fuente-principal: "Arial, sans-serif";
$tamanyo-normal: 16px;
$tamanyo-pequeña: 14px;
$tamanyo-larga: 18px;

//Espaciado
$espacio-pequeño: 8px;
$espacio-mediano: 16px;
$espacio-largo: 24px;

//Bordes
$border-radius: 4px;
